#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.day-card {
  text-align: center;
}

.day-card img {
  height: auto;
  max-width: 20%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 60%; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transition: transform 0.3s ease; /* Add transition for the zoom-in effect */
}

.day-card:hover img {
  transform: scale(1.1); /* Apply zoom-in effect on hover */
}

.day-card li {
  text-align: center;
}

.read-the-docs {
  color: #888;
}
